@model CintaUang.ViewModels.CategoryViewModels.Components.CategoriesTableViewModel
@{
    Layout = "_LayoutViewComponent";
}
<datatable id="categories-datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Category in Model.Categories)
        {
        <tr>
            <td>@Category.Id</td>
            <td>@Category.Name</td>
        </tr>
        }
    </tbody>
</datatable>